 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Music producer and composer from Spain.</p>
                </div>
                <div class="col-lg-4">
                    <p>Specialized on rock, metal, acoustic, funk, pop, ambient and orchestral music. I can adapt easily to any new genre or project.</p>
                </div>
            </div>
        </div>
    </section>
